#upload_desc {
    position: relative;
    top: 40%;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: bold;
    left: 22%;
}

#upload_img {
    position: relative;
    top: 15%;
    left: 40%;  
}

#upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
#btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  
#upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }